<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainvice.mynovel.dao.mapper.AuthorIncomeMapper">

    <resultMap id="BaseResultMap" type="com.rainvice.mynovel.dao.entity.AuthorIncome">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="bookId" column="book_id" jdbcType="BIGINT"/>
            <result property="incomeMonth" column="income_month" jdbcType="DATE"/>
            <result property="preTaxIncome" column="pre_tax_income" jdbcType="OTHER"/>
            <result property="afterTaxIncome" column="after_tax_income" jdbcType="OTHER"/>
            <result property="payStatus" column="pay_status" jdbcType="TINYINT"/>
            <result property="confirmStatus" column="confirm_status" jdbcType="TINYINT"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,author_id,book_id,
        income_month,pre_tax_income,after_tax_income,
        pay_status,confirm_status,detail,
        create_time,update_time
    </sql>
</mapper>
