<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainvice.mynovel.dao.mapper.AuthorIncomeDetailMapper">

    <resultMap id="BaseResultMap" type="com.rainvice.mynovel.dao.entity.AuthorIncomeDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="bookId" column="book_id" jdbcType="BIGINT"/>
            <result property="incomeDate" column="income_date" jdbcType="DATE"/>
            <result property="incomeAccount" column="income_account" jdbcType="OTHER"/>
            <result property="incomeCount" column="income_count" jdbcType="OTHER"/>
            <result property="incomeNumber" column="income_number" jdbcType="OTHER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,author_id,book_id,
        income_date,income_account,income_count,
        income_number,create_time,update_time
    </sql>
</mapper>
