<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainvice.mynovel.dao.mapper.UserPayLogMapper">

    <resultMap id="BaseResultMap" type="com.rainvice.mynovel.dao.entity.UserPayLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="payChannel" column="pay_channel" jdbcType="TINYINT"/>
            <result property="outTradeNo" column="out_trade_no" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="OTHER"/>
            <result property="productType" column="product_type" jdbcType="TINYINT"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productValue" column="product_value" jdbcType="OTHER"/>
            <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,pay_channel,
        out_trade_no,amount,product_type,
        product_id,product_name,product_value,
        pay_time,create_time,update_time
    </sql>
</mapper>
